.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.container-card-character {
  background: url(./backChacOne.jpg) no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 20px 0;
}

.card-box-character {
  display: flex;
  border-radius: 15px;
}

.line {
  border-top: 2px solid green;
  border-radius: 100%;
  width: 50%;
  height: 50px;
}

.img-style-chac {
  object-fit: cover;
}

.description-chac {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(230, 230, 230, 1);
  color: rgba(0, 0, 0, 1);
  padding: 0 14px;
}

.form-character-edit {
  margin-top: 5px;
}

.data-list {
  list-style: none;
}

.img-planet {
  width: 200px;
  height: 120px;
  border-radius: 20px;
  object-fit: cover;
}

.btn-action {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid transparent;
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-edit-chac {
  margin: 15px;
}

.start-edit {
  border-bottom: 2px solid rgba(255, 0, 0, 0.8);
}

.confirm-edit {
  border-bottom: 2px solid rgba(0, 128, 0, 0.8);
}

.start-edit:hover {
  border-bottom: 2px solid rgba(255, 0, 0, 1);
}

.confirm-edit:hover {
  border-bottom: 2px solid rgba(0, 128, 0, 1);
}

.form-edit-character {
  text-align: center;
  width: 100%;
}

.input-field-container {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  padding: 4px;
}

.input-field-container:last-child {
  margin-bottom: 0;
}

.input-field-data {
  width: 85%;
  border: none;
}

.input-field-data:focus-visible {
  outline: none;
  border: none;
}

.input-field-container > span {
  width: 15%;
  text-align: center;
  cursor: pointer;
}

.input-field-container > span i {
  color: #444;
}

.field-correct {
  color: #0f0 !important;
}

.field-warning {
  color: #f00 !important;
}

.characters-loader {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.paginator-container {
  height: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.btn-paginator {
  padding: 14px 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s ease;
  background-color: transparent;
  border: 2px solid transparent;
  color: #fff;
}

.btn-paginator-prev {
  border-bottom: 2px solid green;
}

.btn-paginator-next {
  border-bottom: 2px solid red;
}

@media only screen and (min-width: 992px) {
  .card-box-character {
    width: 600px;
    height: 400px;
  }
  .img-character {
    width: 40%;
  }
  .description-chac {
    width: 60%;
    border-radius: 0 15px 15px 0;
  }
  .img-style-chac {
    border-radius: 15px 0 0 15px;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .card-box-character {
    width: 400px;
    flex-direction: column;
  }
  .description-chac {
    height: 400px;
  }
  .img-character {
    width: 100%;
    height: 50%;
    text-align: center;
  }
  .img-style-chac {
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }
}

@media only screen and (max-width: 767.98px) {
  .card-box-character {
    width: 400px;
    flex-direction: column;
  }
  .description-chac {
    height: 400px;
  }
  .img-character {
    width: 100%;
    height: 50%;
    text-align: center;
  }
  .img-style-chac {
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }
}
