.container-card {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 23, 98, 0.5);
    background-blend-mode: overlay;
    background-image: url(./allcharacters.jpg);
}

.container-card>h4 {
    font-size: xx-large;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 5rem;
}

.container-card>p {
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 5rem;
    font-size: large;
}