:root {
  --ff-starwars: 'StarWars', Helvetica, sans-serif;
  --ff-secondary: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --dark: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --bg-dark: $(--dark);
  --bg-white: $(--white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: var(--ff-starwars);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  text-decoration: none;
  margin: 0 0;
  padding: 0 0;
}

li,
a {
  text-decoration: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

/* @font-face {
  font-family: StarWars;
  src: url(../fonts/StarJedi-DGRW.ttf) format('truetype');
} */

.main-container {
  padding: 0 0;
  background-image: url(../img/space-stars-min.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-main-dark {
  background-color: var(--bg-dark);
}

/* navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 0 20px;
}

.starwars-logo {
  /* font-family: StarJedi; */
  font-size: 2rem;
  color: rgba(235, 235, 235, 1);
  transition: all 0.2s ease;
  border-bottom: 2px solid transparent;
  padding: 4px 0;
}

.starwars-logo:hover {
  color: rgba(245, 245, 245, 1);
  border-bottom: 2px solid red;
  /* text-shadow: 2px -1px 2px green; */
}

.navigation-links {
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-items > li {
  padding: 20px 10px;
  margin: 0 10px;
}

.nav-items li a > span {
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-items li > a {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  padding: 10px;
  transition: all 0.2s ease;
}

.nav-items li > a:hover {
  color: rgba(255, 255, 255, 1);
}

.d-none {
  display: none;
}

.hamburger {
  padding: 10px;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  cursor: pointer;
  display: none;
  text-align: center;
  color: #fff;
}

.hamburger > i {
  font-size: 1.5rem;
}

.hamburger i#bars {
  color: green;
}

.hamburger i#close {
  color: red;
}

.showitem {
  animation: showitem 500ms;
}

.hideitem {
  animation: hideitem 500ms;
}

.link-active {
  border-bottom: 2px solid green;
}

.btn-logout,
.btn-login {
  border: none;
  background-color: transparent;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.btn-logout {
  border-bottom: 2px solid red;
}

.btn-login {
  border-bottom: 2px solid green;
}

.dropdown-navigation-links {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 20;
  height: calc(100vh - 80px);
  right: 0;
}

/* carrousel */
.carrousel-slider {
  height: calc(100vh - 80px);
  max-width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
}

.carrousel-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.star-quotes {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.slideshow-container {
  position: relative;
  margin: auto;
  height: 100%;
}

.my-slides {
  height: 100%;
}

.img-carrousel {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Next & previous buttons */
.btn-slider-prev,
.btn-slider-next,
.movie-slider-prev,
.movie-slider-next {
  border: none;
  cursor: pointer;
  position: absolute;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: transparent;
}

.btn-slider-prev,
.btn-slider-next {
  width: auto;
  margin-top: -22px;
  top: 50%;
}

.movie-slider-prev,
.movie-slider-next {
  width: 80px;
  top: 0;
  height: 100%;
}

/* Position the "next button" to the right */
.btn-slider-next,
.movie-slider-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.btn-slider-prev:hover,
.btn-slider-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.movie-slider-prev:hover,
.movie-slider-next:hover {
  background-color: rgba(0, 0, 0, 0.95);
}

/* Fading animation */
.slider-fade {
  -webkit-animation-name: sliderfade;
  -webkit-animation-duration: 1.5s;
  animation-name: sliderfade;
  animation-duration: 1.5s;
}

/* movies gallery */
.movies-gallery {
  height: auto;
  overflow: hidden;
  margin: 0;
  padding: 20px 0 20px 0;
  position: relative;
  background-image: url(../img/space-stars-green-min.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.movie-card-container {
  background-color: rgba(11, 11, 11, 0.5);
  margin: 0 auto;
  border-bottom: 4px solid rgba(12, 231, 59, 0.5);
  overflow: hidden;
}

.img-fluid {
  object-fit: cover;
  height: 100%;
}

.release-date > span {
  font-weight: bold;
  color: #ccc;
}

.movie-info {
  display: flex;
  align-items: center;
}

/* loader component */
.characters-loader {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

/* paginator */
.paginator-container {
  height: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.btn-paginator {
  padding: 14px 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s ease;
  background-color: transparent;
  border: 2px solid transparent;
  color: #fff;
}

.btn-paginator-prev {
  border-bottom: 2px solid green;
}

.btn-paginator-next {
  border-bottom: 2px solid red;
}

/* users component */
.user-data-container {
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  min-height: calc(100vh - 80px);
}

.user-name {
  min-height: 100px;
}

.is-admin {
  padding: 10px;
  text-transform: uppercase;
  background-color: transparent;
  border-bottom: 2px solid green;
}

.user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.user-fields {
  background-color: #ddd;
  color: #111;
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 4px;
}

/* character, vehicles component */
.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  min-height: calc(100vh - 80px);
}

.container-card-character {
  background: url(../img/backChacOne.jpg) no-repeat;
}

.container-card-vehicle {
  background: url(../img/vehicles/vehicle2.jpg) no-repeat;
}

.container-card-character,
.container-card-vehicle {
  background-attachment: fixed;
  background-position: center;
  padding: 60px 0 50px 0;
  background-color: rgba(0, 0, 0, 0.9);
}

/* CHARACTER, VEHICLE ADD */
.add-character,
.add-vehicle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20px;
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.add-charac-icon,
.add-vehicle-icon {
  color: #0f0;
  transition: all 0.2s ease;
}

.add-charac-icon:hover,
.add-vehicle-icon:hover {
  color: red;
}

.container-card-chac-add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-box-character,
.card-box-vehicle {
  display: flex;
  border-radius: 15px;
}

.required-validation {
  color: red;
}

.line {
  border-top: 2px solid green;
  border-radius: 100%;
  width: 50%;
  height: 50px;
}

.img-style-chac,
.img-style-vehicle {
  object-fit: cover;
}

.description-chac {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(230, 230, 230, 1);
  color: rgba(0, 0, 0, 1);
  padding: 0 14px;
}

.form-character-edit {
  margin-top: 5px;
}

.data-list {
  list-style: none;
}

.img-planet {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.btn-action {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid transparent;
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-edit-chac {
  margin: 15px;
}

.start-edit {
  border-bottom: 2px solid rgba(255, 0, 0, 0.8);
}

.confirm-edit {
  border-bottom: 2px solid rgba(0, 128, 0, 0.8);
}

.start-edit:hover {
  border-bottom: 2px solid rgba(255, 0, 0, 1);
}

.confirm-edit:hover {
  border-bottom: 2px solid rgba(0, 128, 0, 1);
}

.form-edit-character,
.form-edit-vehicle {
  text-align: center;
  width: 100%;
}

.input-field-container {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  padding: 4px;
}

.input-field-container:last-child {
  margin-bottom: 0;
}

.input-field-data {
  width: 85%;
  border: none;
}

.input-field-data:focus-visible {
  outline: none;
  border: none;
}

.input-field-container > span {
  width: 15%;
  text-align: center;
  cursor: pointer;
}

.input-field-container > span i {
  color: #444;
}

.field-correct {
  color: #0f0 !important;
}

.field-warning {
  color: #f00 !important;
}

.invalid-page {
  padding: 30px;
  width: 100%;
  height: calc(100vh - 80px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

/* authentication */
/* login, signup */
.login-container,
.create-container {
  width: 100%;
  height: 100vh;
  background-image: url(../img/space-stars-min.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form-container {
  background-color: black;
  padding: 50px;
}

.form-container > h2 {
  font-size: xx-large;
  font-family: var(--ff-starwars);
  text-align: center;
}

.form-input {
  margin: 10px auto;
}

.btn-auth {
  border: none;
  padding: 10px;
  text-transform: uppercase;
  transition: all 0.2s ease;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid green;
  background-color: black;
}

.btn-auth:hover {
  color: rgba(255, 255, 255, 1);
  border-bottom: 2px solid red;
}

.form-container > label {
  font-size: xx-large;
  font-family: var(--ff-starwars);
  text-align: center;
  text-align: left;
}

.btn-submit-container {
  text-align: center;
}

.more-actions {
  padding: 10px 0;
  margin: 10px auto;
}

.more-actions p {
  margin: 0;
  padding: 0;
}

.more-actions > div {
  margin: 10px auto;
}

/* account activation */
.authentication-page {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.authentication-steps {
  text-align: center;
}

.account-activation {
  padding: 10px;
  text-align: center;
}

.activating-account,
.active-account,
.activation-failed,
.activation-correct {
  font-size: 2rem;
  padding: 10px;
}

.activating-account {
  border-bottom: 2px solid red;
}

.active-account {
  border-bottom: 2px solid green;
}

.activation-failed {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid red;
  margin: 20px auto;
}

.activation-correct {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid green;
  margin: 20px auto;
}

.auth-loader {
  text-align: center;
}

/* search */
.search-user-container {
  margin: 15px auto;
  padding: 10px;
}

.search-container {
  margin: 0 20px;
}
.btn-search {
  background-color: transparent;
  padding: 0 10px;
  border: none;
  color: #fff;
  border-bottom: 2px solid red;
  transition: all 0.2s ease;
}

.btn-search:hover {
  border-bottom: 2px solid green;
}

/* set user role */
.role-container {
  width: 100%;
  padding: 10px 0;
}

.role-setting-options {
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-set-role {
  background-color: transparent;
  padding: 10px;
  border: none;
  border-bottom: 2px solid red;
  transition: all 0.2s ease;
}

.btn-set-role:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid green;
}

/* home card */
.container-card {
  background-color: rgba(0, 0, 0, 0.98);
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 500px;
}

.characters-presentation h4,
.vehicles-presentation h4 {
  font-size: xx-large;
  color: white;
  text-align: center;
}

.characters-presentation p,
.vehicles-presentation p {
  color: white;
  text-align: center;
  font-size: large;
}

.btn-go-to {
  border: none;
  padding: 10px;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.btn-go-to-characters {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid red;
}

.btn-go-to-characters:hover {
  color: rgba(255, 255, 255, 1);
  border-bottom: 2px solid green;
}

/* characters preview */
.characters-preview,
.vehicles-preview {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.img-container-preview {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  text-align: center;
}

.img-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shadow-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: transparent;
  cursor: pointer;
  transition: all .2s ease;
}

.shadow-text:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

/* footer */
.container-footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  background: black;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 23, 98, 0.5);
  background-blend-mode: overlay;
  background-image: url(../img/footer.jpg);
}

.hola:hover {
  color: red;
}

.hola {
  color: white;
}

.desc-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.link-social {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.tags-footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* div separator */
.separator-container {
  min-height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  text-align: center;
}

/* edit user container */

/* animations */
@keyframes showitem {
  0% {
    opacity: 0.1;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hideitem {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    opacity: 0;
  }
}

@-webkit-keyframes showitem {
  0% {
    opacity: 0.1;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes hideitem {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@-webkit-keyframes sliderfade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes sliderfade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* media queries */
@media only screen and (min-width: 688px) and (max-width: 991px) {
  .hamburger {
    display: block;
  }
  .navigation-links {
    display: none;
  }
}

@media only screen and (max-width: 687px) {
  .hamburger {
    display: block;
  }
  .navigation-links {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }
  .dropdown-navigation-links {
    display: none;
  }
  ul.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (max-width: 767.98px) {
  .card-box-character,
  .card-box-vehicle {
    width: 400px;
    flex-direction: column;
  }
  .description-chac {
    height: 500px;
    border-radius: 4px;
  }
  .img-character,
  .img-vehicle {
    width: 100%;
    height: 50%;
    text-align: center;
    display: none;
  }
  .img-style-chac,
  .img-style-vehicle {
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }
  .img-planet-container {
    display: none;
  }
}

@media only screen and (max-width: 575.98px) {
  .movie-image {
    height: 400px;
  }
  .movie-info {
    text-align: center;
  }
  .movie-card-container {
    width: 70%;
    background-color: rgba(11, 11, 11, 0.2);
  }
  .img-fluid {
    object-fit: contain;
    width: 100%;
  }
}

@media only screen and (max-width: 479.98px) {
  .tags-footer > p {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .movie-card-container {
    width: 70%;
  }
  .movies-gallery {
    height: 410px;
  }
}

@media only screen and (min-width: 778px) and (max-width: 991.98px) {
  .movie-card-container {
    width: 500px;
  }
  .movies-gallery {
    height: 410px;
  }
  /* character, vehicle component */
  .card-box-character,
  .card-box-vehicle {
    width: 400px;
    flex-direction: column;
  }
  .description-chac {
    height: 500px;
    border-radius: 4px;
  }
  .img-character,
  .img-vehicle {
    width: 100%;
    height: 50%;
    text-align: center;
    display: none;
  }
  .img-style-chac,
  .img-style-vehicle {
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }
  .img-planet-container {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  /* character component */
  .card-box-character,
  .card-box-vehicle {
    width: 600px;
    height: 500px;
  }
  .img-character,
  .img-vehicle {
    width: 40%;
  }
  .description-chac {
    width: 60%;
    border-radius: 0 15px 15px 0;
  }
  .img-style-chac,
  .img-style-vehicle {
    border-radius: 15px 0 0 15px;
    width: 100%;
    height: 100%;
  }
  .container-card {
    flex-direction: row;
  }
  .characters-presentation,
  .vehicles-presentation,
  .characters-preview,
  .vehicles-preview {
    width: 50%;
    padding: 0 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1439.98px) {
  .movie-card-container {
    width: 600px;
  }
  .movies-gallery {
    height: 420px;
  }
}

@media only screen and (min-width: 1440px) {
  .carrousel-slider {
    height: calc(100vh - 80px);
  }
  .movie-card-container {
    width: 800px;
    height: 460px;
  }
  .slideshow-container {
    height: 100%;
  }
  .my-slides {
    height: 100%;
  }
  .movies-gallery {
    height: auto;
  }
}
