.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.8);
  padding: 0 20px;
}

.starwars-logo {
  /* font-family: StarJedi; */
  font-size: 2rem;
  color: rgba(235, 235, 235, 1);
  transition: all .2s ease;
  border-bottom: 2px solid transparent;
  padding: 4px 0;
}

.starwars-logo:hover {
  color: rgba(245, 245, 245, 1);
  border-bottom: 2px solid red;
  /* text-shadow: 2px -1px 2px green; */
}

.navigation-links {
  background-color: rgba(0,0,0,0.2);
}

.nav-items > li {
  padding: 20px 10px;
  margin: 0 10px;
}

.nav-items li a > span {
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-items li > a {
  color: rgba(255,255,255,0.8);
  text-transform: uppercase;
  padding: 10px;
	transition: all .2s ease;
}

.nav-items li > a:hover {
	color: rgba(255,255,255,1);
}

.d-none {
  display: none;
}

.hamburger {
	padding: 10px;
	border-radius: 10px;
	height: 50px;
	width: 50px;
	overflow: hidden;
	cursor: pointer;
	display: none;
	text-align: center;
  color: #fff;
}

.hamburger > i {
	font-size: 1.5rem;
}

.hamburger i#bars {
  color: green;
}

.hamburger i#close {
  color: red;
}

.showitem {
	animation: showitem 1s;
}

.hideitem {
	animation: hideitem 1s;
}

.link-active {
  border-bottom: 2px solid green;
}

.btn-logout,
.btn-login {
  border: none;
  background-color: transparent;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all .2s ease;
}

.btn-logout {
  border-bottom: 2px solid red;
}

.btn-login {
  border-bottom: 2px solid green;
}

/* animations */
@keyframes showitem {
	0% {
		opacity: 0.1;
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
	}
	25% {
		opacity: 0.3;
	}
	50% {
		opacity: 0.5;
	}
	75% {
		opacity: 0.7;
	}
	100% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}

@keyframes hideitem {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0.7;
	}
	50% {
		opacity: 0.5;
	}
	75% {
		opacity: 0.3;
	}
	100% {
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		opacity: 0;
	}
}

@-webkit-keyframes showitem {
	0% {
		opacity: 0.1;
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
	}
	25% {
		opacity: 0.3;
	}
	50% {
		opacity: 0.5;
	}
	75% {
		opacity: 0.7;
	}
	100% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes hideitem {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0.7;
	}
	50% {
		opacity: 0.5;
	}
	75% {
		opacity: 0.3;
	}
	100% {
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		opacity: 0;
	}
}

.dropdown-navigation-links {
  position: absolute;
  background-color: rgba(0,0,0,0.9);
  z-index: 20;
  height: calc(100vh - 80px);
  right: 0;
}

/* media queries */
@media only screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }
  .dropdown-navigation-links {
    display: none;
  }
  ul.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 688px) and (max-width: 991px) {
  .hamburger {
    display: block;
  }
  .navigation-links {
    display: none;
  }
}

@media only screen and (max-width: 687px) {
  .hamburger {
    display: block;
  }
  .navigation-links {
    display: none;
  }
}
